dist
.solid
.env
node_modules
api/db/dbschema/edgeql-js
.DS_Store
seed
app/.browserslistrc
app/.electron-vendors.cache.json
.eslintcache

# local sqlite dbs
learn-anything
app/learn-anything
app/scripts/learn-anything
app/test/learn-anything
