# core
.DS_Store
node_modules
.env
.env*.local

# solid
dist
.solid
.vinxi

# odin
ols.json
graphstate.bin

# generated
api/grafbase/generated
api/edgedb/dbschema/edgeql-js
mobile/graphql_queries.js
mobile/graphql_schema.gql

# other
bun.lockb
package-lock.json
.grafbase
cli/run.ts
private
