# general
.DS_Store
.env
.env*.local
output
dist
.idea

# ts
node_modules
package-lock.json
pnpm-lock.yaml
.vercel

# rust
/target/

# next
.next-types
.next

# repos
private
docs

# other
past.*
x.*
