:root {
	--link-background-muted: hsl(0, 0%, 97.3%);
	--link-border-after: hsl(0, 0%, 91%);
	--link-shadow: hsl(240, 5.6%, 82.5%);
}

.dark {
	--link-background-muted: hsl(220, 6.7%, 8.8%);
	--link-border-after: hsl(230, 10%, 11.8%);
	--link-shadow: hsl(234.9, 27.1%, 25.3%);
}
