@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0 auto;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html {
  background: #1e1e1e;
}
html, body {
  height: 100%;
  overflow: hidden;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.tiptap-container {
  margin: 1em 0 0 0;
}
.tiptap-container .ProseMirror {
  outline: none;
  font-size: 20px;
  caret-color: transparent;
}
/* .tiptap-container .editor-content .ProseMirror[show-cursor="true"] {
  caret-color: black;
} */
.tiptap-container .ProseMirror[mode="normal"] .vim-cursor {
  background: black;
  color: white;
}
.tiptap-container .ProseMirror[mode="insert"] .vim-cursor::before {
  content: " ";
  position: absolute;
  width: 2px;
  background: black;
  animation: blink 1s step-start 0s infinite;
}
