.minimal-tiptap-editor div.tiptap p {
  @apply text-[var(--mt-font-size-regular)];
}

.minimal-tiptap-editor .ProseMirror ol {
  @apply list-decimal;
}

.minimal-tiptap-editor .ProseMirror ol ol {
  list-style: lower-alpha;
}

.minimal-tiptap-editor .ProseMirror ol ol ol {
  list-style: lower-roman;
}

.minimal-tiptap-editor .ProseMirror ul {
  list-style: disc;
}

.minimal-tiptap-editor .ProseMirror ul ul {
  list-style: circle;
}

.minimal-tiptap-editor .ProseMirror ul ul ul {
  list-style: square;
}

.minimal-tiptap-editor .ProseMirror ul[data-type='taskList'] {
  @apply list-none pl-1;
}

.minimal-tiptap-editor .ProseMirror ul[data-type='taskList'] p {
  @apply m-0;
}

.minimal-tiptap-editor .ProseMirror ul[data-type='taskList'] li > label {
  @apply mr-2 mt-0.5 flex-none select-none;
}

.minimal-tiptap-editor .ProseMirror li[data-type='taskItem'] {
  @apply flex flex-row items-start;
}

.minimal-tiptap-editor .ProseMirror li[data-type='taskItem'] .taskItem-checkbox-container {
  @apply relative pr-2;
}

.minimal-tiptap-editor .ProseMirror .taskItem-drag-handle {
  @apply absolute -left-5 top-1.5 h-[18px] w-[18px] cursor-move pl-0.5 text-[var(--mt-secondary)] opacity-0;
}

.minimal-tiptap-editor
  .ProseMirror
  li[data-type='taskItem']:hover:not(:has(li:hover))
  > .taskItem-checkbox-container
  > .taskItem-drag-handle {
  @apply opacity-100;
}

.minimal-tiptap-editor .ProseMirror .taskItem-drag-handle:hover {
  @apply text-[var(--mt-drag-handle-hover)];
}

.minimal-tiptap-editor .ProseMirror .taskItem-checkbox {
  fill-opacity: 0;
  @apply h-3.5 w-3.5 flex-shrink-0 cursor-pointer select-none appearance-none rounded border border-solid border-[var(--mt-secondary)] bg-transparent bg-[1px_2px] p-0.5 align-middle transition-colors duration-75 ease-out;
}

.minimal-tiptap-editor .ProseMirror .taskItem-checkbox:checked {
  @apply border-primary bg-primary bg-no-repeat;
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20width=%2210%22%20height=%229%22%20viewBox=%220%200%2010%208%22%20xmlns=%22http://www.w3.org/2000/svg%22%20fill=%22%23fbfbfb%22%3E%3Cpath%20d=%22M3.46975%205.70757L1.88358%204.1225C1.65832%203.8974%201.29423%203.8974%201.06897%204.1225C0.843675%204.34765%200.843675%204.7116%201.06897%204.93674L3.0648%206.93117C3.29006%207.15628%203.65414%207.15628%203.8794%206.93117L8.93103%201.88306C9.15633%201.65792%209.15633%201.29397%208.93103%201.06883C8.70578%200.843736%208.34172%200.843724%208.11646%201.06879C8.11645%201.0688%208.11643%201.06882%208.11642%201.06883L3.46975%205.70757Z%22%20stroke-width=%220.2%22%20/%3E%3C/svg%3E');
}

.minimal-tiptap-editor .ProseMirror .taskItem-content {
  @apply min-w-0 flex-1;
}

.minimal-tiptap-editor .ProseMirror li[data-checked='true'] .taskItem-content > :not([data-type='taskList']),
.minimal-tiptap-editor .ProseMirror li[data-checked='true'] .taskItem-content .taskItem-checkbox {
  @apply opacity-75;
}
