:root {
	--la-font-size-regular: 0.9375rem;
	--checkbox-bg-image: url("data:image/svg+xml;utf8,%3Csvg%20width=%2210%22%20height=%229%22%20viewBox=%220%200%2010%208%22%20xmlns=%22http://www.w3.org/2000/svg%22%20fill=%22%23fbfbfb%22%3E%3Cpath%20d=%22M3.46975%205.70757L1.88358%204.1225C1.65832%203.8974%201.29423%203.8974%201.06897%204.1225C0.843675%204.34765%200.843675%204.7116%201.06897%204.93674L3.0648%206.93117C3.29006%207.15628%203.65414%207.15628%203.8794%206.93117L8.93103%201.88306C9.15633%201.65792%209.15633%201.29397%208.93103%201.06883C8.70578%200.843736%208.34172%200.843724%208.11646%201.06879C8.11645%201.0688%208.11643%201.06882%208.11642%201.06883L3.46975%205.70757Z%22%20stroke-width=%220.2%22%20/%3E%3C/svg%3E");

	--la-code-background: rgba(8, 43, 120, 0.047);
	--la-code-color: rgb(212, 212, 212);
	--la-secondary: rgb(157, 157, 159);
	--la-pre-background: rgb(236, 236, 236);
	--la-pre-border: rgb(224, 224, 224);
	--la-pre-color: rgb(47, 47, 49);
	--la-hr: rgb(220, 220, 220);
	--la-drag-handle-hover: rgb(92, 92, 94);

	--hljs-string: rgb(170, 67, 15);
	--hljs-title: rgb(176, 136, 54);
	--hljs-comment: rgb(153, 153, 153);
	--hljs-keyword: rgb(12, 94, 177);
	--hljs-attr: rgb(58, 146, 188);
	--hljs-literal: rgb(200, 43, 15);
	--hljs-name: rgb(37, 151, 146);
	--hljs-selector-tag: rgb(200, 80, 15);
	--hljs-number: rgb(61, 160, 103);
}

.dark .ProseMirror {
	--la-font-size-regular: 0.9375rem;
	--checkbox-bg-image: url("data:image/svg+xml;utf8,%3Csvg%20width=%2210%22%20height=%229%22%20viewBox=%220%200%2010%208%22%20xmlns=%22http://www.w3.org/2000/svg%22%20fill=%22lch%284.8%25%200.7%20272%29%22%3E%3Cpath%20d=%22M3.46975%205.70757L1.88358%204.1225C1.65832%203.8974%201.29423%203.8974%201.06897%204.1225C0.843675%204.34765%200.843675%204.7116%201.06897%204.93674L3.0648%206.93117C3.29006%207.15628%203.65414%207.15628%203.8794%206.93117L8.93103%201.88306C9.15633%201.65792%209.15633%201.29397%208.93103%201.06883C8.70578%200.843736%208.34172%200.843724%208.11646%201.06879C8.11645%201.0688%208.11643%201.06882%208.11642%201.06883L3.46975%205.70757Z%22%20stroke-width=%220.2%22%20/%3E%3C/svg%3E");

	--la-code-background: rgba(255, 255, 255, 0.075);
	--la-code-color: rgb(44, 46, 51);
	--la-secondary: rgb(89, 90, 92);
	--la-pre-background: rgb(8, 8, 8);
	--la-pre-border: rgb(35, 37, 42);
	--la-pre-color: rgb(227, 228, 230);
	--la-hr: rgb(38, 40, 45);
	--la-drag-handle-hover: rgb(150, 151, 153);

	--hljs-string: rgb(218, 147, 107);
	--hljs-title: rgb(241, 213, 157);
	--hljs-comment: rgb(170, 170, 170);
	--hljs-keyword: rgb(102, 153, 204);
	--hljs-attr: rgb(144, 202, 232);
	--hljs-literal: rgb(242, 119, 122);
	--hljs-name: rgb(95, 192, 160);
	--hljs-selector-tag: rgb(232, 199, 133);
	--hljs-number: rgb(182, 231, 182);
}
